
<div id="form1">
    <div><label id="title" >Agregar datos al maestro</label></div>
  
    <div class="contenedor2">
  

      <div class="form-floating">
        <input  [(ngModel)]="cddato" type="text" maxlength="20" class="form-control"  placeholder="cddato">
        <label for="floatingPassword">dsdato</label>
      </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="dsdato" type="text"id="" maxlength="100" class="form-control" placeholder="dsdato">
            <label for="floatingInput">cddato</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="cddato1" type="text" class="form-control" placeholder="cddato1">
            <label for="floatingInput">cddato1</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="cddato2" type="text" class="form-control" placeholder="cddato2">
            <label for="floatingPassword">cddato2</label>
          </div>
          
          <div class="form-floating mb-3">
            <input [(ngModel)]="cddato3" type="text" maxlength="20" class="form-control"  placeholder="cddato3">
            <label for="floatingInput">cdedato3</label>
          </div>

  </div>
<div>
    <button class="btn btn-primary" (click)="regresar()">Cancelar</button>
    <button class="btn btn-primary" (click)="prepararParaGuardar()">Guardar</button>
  </div>
</div>
